<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FootballDataDemoSoap" />
                <binding name="FootballDataSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.xmlsoccer.com/FootballDataDemo.asmx"
                binding="basicHttpBinding" bindingConfiguration="FootballDataDemoSoap"
                contract="DemoService.FootballDataDemoSoap" name="FootballDataDemoSoap" />
            <endpoint address="http://www.xmlsoccer.com/FootballData.asmx"
                binding="basicHttpBinding" bindingConfiguration="FootballDataSoap"
                contract="ProService.FootballDataSoap" name="FootballDataSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
